.map1 {
  position: absolute;
  left: 138px;
  top: 138px;
  z-index: 1;
}

.map2 {
  position: absolute;
  left: 318px;
  top: 82px;
  z-index: 1;
}


/* Circle */
.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ff4343;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .circle:before,
  .circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #ff4343;
    border-radius: 50%;
  }


  .circle:before {
    animation: ripple 2s linear infinite;
  }

  .circle:after {
    animation: ripple 2s linear 1s infinite;
  }

/* Circle */
.circle-green {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00ff21;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .circle-green:before,
  .circle-green:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #00ff21;
    border-radius: 50%;
  }


  .circle-green:before {
    animation: ripple 2s linear infinite;
  }

  .circle-green:after {
    animation: ripple 2s linear 1s infinite;
  }

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
